<<<<<<< HEAD
<% if (locals.messages) { %> <% messages.forEach((element)=> {%>
<h2 class="<%= element.type %>"><%= element.string %></h2>
<% }) %> <% removeMessages() %> <%} %>
=======
<% if (locals.messages) {%> <% messages.forEach((element) => {%>
<h2 class="<% = element.type %>"><%= element.string %></h2>
<% })%><%removeMessages()%><%}%>
>>>>>>> 8bd865fcb64974d6eb07c75edb23d5af16d2d261
