<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Главная</title>
  </head>
  <body>
    <header class="header"><%- include ("partials/menu.ejs")%></header>
    <div class="container">
      <h2>Добро пожаловать на мой сайт</h2>
      <br />
      <p>
        Это пародийное приложение мессенджер, где можно создавать и выкладывать
        посты, зарегистрируйтесь прямо сейчас
      </p>

      <a class="btn btn-primary" href="/posts">Просмотреть записи</a>
    </div>
    <footer class="footer"><%- include ("partials/footer.ejs")%></footer>
  </body>
</html>
