<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>TEST NODE</title>
  </head>
  <body>
    <header class="header"><%- include ("partials/menu.ejs")%></header>
    <div class="container">
      <h1>Добро пожаловать на мой сайт</h1>
      <p>CommonJS</p>
      <a href="/posts" class="btn btn-primary">Просмотреть посты</a>
    </div>
  </body>
</html>
