<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header"><%- include ("partials/menu.ejs")%></header>
    <div class="container">
      <a href="/auth/yandex" class="btn btn-warning">Яндекс</a>
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Электронная почта</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <footer class="footer"><%- include ("partials/footer.ejs")%></footer>
  </body>
</html>
