<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="./style.css" />
    <script defer src="/js/bootstrap.js"></script>
  </head>
  <body>
    <header><%- include(`./partials/header`) %></header>
    <div class="content">
      <div class="main text-center mt-3 mb-3">
        <% if (locals.user) { %>
        <h4 class="main__header">Добро пожаловать, <%= locals.user.name %>!</h4>
        <p class="main__content">
          Добро пожаловать на наш сайт, где вы можете свободно публиковать и
          просматривать посты!<br />
          Здесь вы найдете множество интересных и разнообразных материалов,
          созданных нашей активной и творческой пользовательской базой.<br />
          Мы предлагаем вам возможность делиться своими мыслями, идеями,
          впечатлениями и опытом с остальным миром. Наш сайт - это место, где
          каждый может найти что-то интересное для себя.<br />
          Публикуйте свои посты на любые темы: от путешествий и кулинарии до
          спорта и науки. Здесь нет ограничений - ваша фантазия и творчество
          могут развернуться на полную катушку!
        </p>
        <p class="main__content">
          Не только вы можете делиться своими идеями, но и наслаждаться
          контентом других пользователей. Откройте для себя новые взгляды,
          узнайте что-то новое или просто насладитесь красивыми фотографиями и
          умными мыслями.<br />
          Мы стремимся создать дружественное и вдохновляющее сообщество, где
          каждый чувствует себя комфортно и приветствуется. Мы ценим свободу
          слова, но также просим вас быть уважительными и толерантными к мнению
          других пользователей.<br />
          Присоединяйтесь к нашему сообществу и начните делиться своими
          историями уже сегодня! Будьте готовы к новым знакомствам, вдохновению
          и возможности увидеть мир глазами других людей.
        </p>
        <% } else { %>
        <h4 class="main__header">Добро пожаловать наш новостной портал!</h4>
        <p class="main__content">
          Добро пожаловать на наш сайт, где вы можете свободно публиковать и
          просматривать посты!<br />
          Здесь вы найдете множество интересных и разнообразных материалов,
          созданных нашей активной и творческой пользовательской базой.<br />
          Мы предлагаем вам возможность делиться своими мыслями, идеями,
          впечатлениями и опытом с остальным миром. Наш сайт - это место, где
          каждый может найти что-то интересное для себя.<br />
          Публикуйте свои посты на любые темы: от путешествий и кулинарии до
          спорта и науки. Здесь нет ограничений - ваша фантазия и творчество
          могут развернуться на полную катушку!
        </p>
        <p class="main__content">
          Не только вы можете делиться своими идеями, но и наслаждаться
          контентом других пользователей. Откройте для себя новые взгляды,
          узнайте что-то новое или просто насладитесь красивыми фотографиями и
          умными мыслями.<br />
          Мы стремимся создать дружественное и вдохновляющее сообщество, где
          каждый чувствует себя комфортно и приветствуется. Мы ценим свободу
          слова, но также просим вас быть уважительными и толерантными к мнению
          других пользователей.<br />
          Присоединяйтесь к нашему сообществу и начните делиться своими
          историями уже сегодня! Будьте готовы к новым знакомствам, вдохновению
          и возможности увидеть мир глазами других людей.
        </p>

        <p>
          Для того, что бы продолжить пользоваться сайтом, войтите в аккаунт или
          зарегистрируйтесь.
        </p>
        <% } %>
      </div>
    </div>
    <footer><%- include(`./partials/footer`) %></footer>
  </body>
</html>
