<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <header class="header"><%- include ("partials/menu.ejs")%></header>
    <form action="/register" method="post" name="user">
      <div class="container">
      <div class="mb-3">
        <label for="name" class="form-label">Имя пользователя</label>
        <input
          type="name"
          name="name"
          class="form-control"
          id="name"
          placeholder="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Электронная почта</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Возраст</label>
        <input
          type="number"
          name="age"
          id="age"
          placeholder="age"
          class="form label"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        value="Зарегистрироваться"
      >Зарегистрироваться</button>
    </form>
</div>
    <footer class="footer"><%- include ("partials/footer.ejs")%></footer>
  </body>
</html>
