<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>registration</title>
  </head>
  <body>
    <header class="header"><%- include ("partials/header.ejs")%></header>
    <form action="">
      <br />
      <label for="email">Электронная почта</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        required
      />
      <br />
      <label for="password">Пароль</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
      />
      <br />
      <label for="age">Возраст</label>
      <input type="number" name="age" id="age" placeholder="age" required />
      <input type="submit" value="Отправить" />
    </form>
    <footer class="footer"><%- include ("partials/footer.ejs")%></footer>
  </body>
</html>
